a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	color: #444;
	font: normal 15px 'Helvetica Neue', 'Helvetica', sans-serif;
	width: 310px;
}

img {
	vertical-align: middle;
}

table {
	border: 1px solid #eee;
	border-collapse: collapse;
	margin-top: 5px;
	width: 100%;
}

tr:nth-child(even) {
	background-color: #eee;
}

th {
	padding: 5px;
}

td {
	padding: 5px 10px;
	white-space: nowrap;
}

#header {
	background: url(/icons/38.png) no-repeat left center;
	font-size: 16px;
	margin: 0 auto;
	padding: 10px 70px;
}

#header.inactive {
	background: url(/icons/38_off.png) no-repeat left;
}

#status-text {
	display: inline-block;
	font-weight: bold;
}

#toggle {
	font-size: 14px;
}

.warning {
	color: red;
}
