a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	color: #444;
	font: normal 15px 'Helvetica Neue', 'Helvetica', sans-serif;
	width: 310px;
}

img {
	vertical-align: middle;
}

#header {
	background: url(/icons/32.png) no-repeat left;
	line-height: 32px;
	text-align: center;
}

table {
	border: 1px solid #eee;
	border-collapse: collapse;
	width: 100%;
}

tr:nth-child(even) {
	background-color: #eee;
}

th {
	padding: 5px;
}

td {
	padding: 5px 10px;
	white-space: nowrap;
}
