a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	color: #444;
	font: normal 15px 'Helvetica Neue', 'Helvetica', sans-serif;
	margin: 8px;
	width: 310px;
}

hr {
	background-color: #ddd;
	border: 0;
	height: 1px;
	margin: 5px auto 0;
	width: 90%;
}

img {
	vertical-align: middle;
}

p {
	text-align: center;
}

table {
	border: 1px solid #ddd;
	border-collapse: collapse;
	width: 100%;
}

.font-enumeration + table {
	border-top: none !important;
}

tbody tr:nth-child(odd) {
	background-color: #eee;
}

th {
	font-size: 13px;
	padding: 5px 10px;
	text-align: left;
}

td {
	padding: 5px 10px;
	white-space: nowrap;
}

td:first-child div {
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 220px;
}

#header-contents {
	font-size: 16px;
	line-height: 1.2em;
	margin: 0 auto;
	padding: 10px 70px;
}

#status-text {
	display: inline-block;
	font-weight: bold;
}

#toggle {
	font-size: 14px;
}

/* sprites start */

.sprites {
	background: url(/images/panel_sprites.png) no-repeat left center;
	display: inline-block;
}

.logo-active {
	width: 38px;
	height: 38px;
	background-position: 0 0;
}

.logo-inactive {
	width: 38px;
	height: 38px;
	background-position: 0 -38px;
}

/* sprites end */

.domain {
	background-color: pink;
	font-weight: bold;
	margin: 20px 0 0;
	padding: 5px;
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.font-enumeration {
	padding: 5px 10px;
	text-align: center;
}

.script-url {
	margin: 20px 0 5px;
}

.toplogo {
	float: left;
	margin-top: 10px;
}

.warning {
	color: red;
}
